/* Google Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

/* Unique */
h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

/* Classes: */
.container {
    background-color: grey;
}
.accordion-header {
    font-family: 'Roboto Slab', serif;
}

.img-size {
    width: 400px;
}

/* IDs: */
#bgblack {
    background-color: black;
}

/* Animation: */
.colorshift {
    animation: color-change 4s infinite;
  }
  @keyframes color-change {
    0% {
      color: #feaa39;
    }
    25% {
      color: #2ea4a7;
    }
    50% {
      color: #ca265a;
    }
    75% {
      color: #2ea4a7;
    }
    100% {
      color: #feaa39;
    }
  }